# файл: nexus-nft-example/contracts/.env

# Ваш приватный ключ (без префикса 0x!)
PRIVATE_KEY=5148149d41e151de5fef0a02509e3ea0f9ec5455521d5e310c8892af47d4f2bf

# URL RPC тестовой сети Nexus (Testnet II)
# Важно: именно тестнет-адрес, а не основной(net)-RPC!
NEXUS_RPC_URL=https://rpc.testnet.nexus.xyz/http

# Опционально: API-ключ для верификации контракта (можно оставить пустым, если не собираетесь верифицировать)
BLOCK_EXPLORER_API_KEY=https://explorer.nexus.xyz
NEXT_PUBLIC_API_URL=https://rpc.testnet.nexus.xyz/http
